<h4 class="margin-0"><%= user.firstName %>s Dishes</h4>
<hr>
<% if (userDishes.length > 0) { %>
<ul>
  <% userDishes.forEach(function(dish) { %>
  <li>
    <a href="/dishes/<%= dish.id %>"><%= dish.name %></a>
  </li>
  <% }) %>
</ul>
<% } else { %>
<h6>You haven't added any dishes</h6>
<% } %>
<hr>
<% if (friendsDishes.length > 0) { %>
<h4>Friends Dishes</h4>
<hr>
<ul>
  <% friendsDishes.forEach(function(dish) { %>
  <li>
    <a href="/dishes/<%= dish.id %>"><%= dish.name %></a> 
    <a href="/users/<%= dish.user._id %>" class="right dish-user-name">by <%= dish.user.fullName %></a>
  </li>
  <% }) %>
</ul>
<hr>
<% } %>
<h4>Favorite Dishes</h4>
<hr>
<% if (favoriteDishes.length > 0) { %>
<ul>
  <% favoriteDishes.forEach(function(dish) { %>
  <li>
    <a href="/dishes/<%= dish.id %>"><%= dish.name %></a> 
    <a href="/users/<%= dish.user._id %>" class="right dish-user-name">by <%= dish.user.fullName %></a>
  </li>
  <% }) %>
</ul>
<% } else { %>
  <h6>You don't have any favorites yet</h6>
<% } %>