<span class="title">E-Mail:</span> <%= user.email %>
<br>
<span class="title">Diet: </span>
<% user.diet.forEach(diet => { %>
    <span><%= diet %></span>    
<% }) %>
<br>
<span class="title">Connections:</span>
<% user.connections.forEach(connection => { %>
    <span><%= connection.fullName %></span>
<% }) %>
<br>
<span class="title">Past Events:</span>
<% user.eventsAttending.forEach(event => { %>
    <% if (event.isPast) { %>
        <a href="/events/<%= event.id %>"><%= event.name %></a>
    <% } %>
<% }) %>
<br>
<span class="title">Upcoming Events:</span>
<% user.eventsAttending.forEach(event => { %>
    <% if (!event.isPast) { %>
        <a href="/events/<%= event.id %>"><%= event.name %></a>
    <% } %>
<% }) %>
