<div class="col s3">
  <div class="calendar-icon">
    <div class="calendar-month">
      <%= event.monthName %>
    </div>
    <div class="calendar-day">
      <%= event.formattedDate.split('/')[1] %>
    </div>
  </div>
</div>
<div class="col s9">
  <h5><%= event.name %></h5> 
  <span class="event-creator-name">Hosted By <%= event.hostName %></span>
</div>
<div class="row event-info">
  <div class="col s2">
    <span class="bold">Where:</span>
  </div>
  <div class="col s10">
       <span><%= event.location.address %></span><br>
        <span><%= event.location.city %>, <%= event.location.state %> <%= event.location.zipCode %></span>
  </div>
  <div class="col s2">
    <span>Time:</span>
  </div>
  <div class="col s10">
    <span><%= event.formattedTime %></span>
  </div>
</div>
<hr>
<div class="row event-description">
  <div class="col s2">
      <span>Info:</span>
  </div>
  <div class="col s10">
      <span class="description"><%= event.description %></span>
  </div>
</div>
<hr>
<div class="row event-you">
  <div class="col s10">
    <form action="/events/<%= event.id %>/rsvp/?_method=PUT" method="post">
      <div class="input-field">
          <select name="status">
              <option value="Attending" <%= userEventDetails.status === 'Attending' ? 'selected' : '' %>>Attending</option>
              <option value="Not Attending" <%= userEventDetails.status === 'Not Attending' ? 'selected' : '' %>>Not Attending</option>
              <option value="Maybe" <%= userEventDetails.status === 'Maybe' ? 'selected' : '' %>>Maybe</option>
          </select>
          <label for="status">Your RSVP</label>
      </div>
      <div class="input-field">
          <select name="dish">
              <option value="" disabled selected>Choose your dish</option>
              <% dishes.forEach(function(dish) { %>
                  <option value="<%= dish._id %>" <%= userEventDetails.dish._id.toString() === dish._id.toString() ? 'selected' : '' %>><%= dish.name %></option>
              <% }) %>

          </select>
          <label for="dish">Your Dish</label>
      </div>
      <button class="btn-small waves-effect waves-light" type="submit">Update RSVP</button>
      <a href="/dishes/new" class="btn-small waves-effect waves-light">Add a new Dish</a>
  </form>
  </div>
</div>
<hr>
<div class="row event-guests">
  <div class="col s2">
    <ul>
      <li>Attendees:</li>
  </ul>
  </div>
  <div class="col s10">
    <ul>
      <% event.guests.forEach(function(guest) { %>
        <% if (user.fullName !== guest.name) { %>
          <% if (guest.status === 'Attending') { %>
            <li><%= guest.name %> - <%= guest.dish?.name || 'No Dish Selected' %></li> 
          <% } %>          
        <% } %>
      <% }) %>
    </ul>
  </div>
</div>
<hr>
<div class="row event-invited">
  <div class="col s2">
    <ul>
      <li>Invited:</li>
    </ul>
  </div>
  <div class="col s10">
    <ul>
      <% event.guests.forEach(function(guest) { %>
        <% if (guest.status !== 'Attending') { %>
          <li><%= guest.name %></li>
        <% } %>
      <% }) %>
    </ul>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const elems = document.querySelectorAll('select');
    M.FormSelect.init(elems);
});

</script>