<form action="/dishes" method="POST">
    <div class="row">
        <div class="input-field col s9">
            <input type="text" name="name" id="name" required>
            <label for="name">Dish Name</label>
        </div>
        <div class="input-field col s3">
            <input type="number" name="servings" id="servings" required>
            <label for="servings">Servings</label>
        </div>
    </div>
    <div class="input-field">
        <textarea name="description" id="description" class="materialize-textarea"></textarea>
        <label for="description">Description</label>
    </div>
    
    <h5>Dietary Accommodations</h5>
    <div class="checkbox-group">
        <% dietaryAccommodations.forEach(option => { %>
            <label>
                <input type="checkbox" name="dietaryAccommodations[]" value="<%= option %>" class="filled-in">
                <span><%= option %></span>
            </label>
        <% }) %>
    </div>
    <h5>Category</h5>
    <div class="radio-group">
        <% categories.forEach(function(category) { %>
            <label>
                <input type="radio" name="category" value="<%= category %>" <%=category==='Other'
                    ? 'checked' : '' %>>
                <span>
                    <%= category %>
                </span>
            </label>
            <% }) %>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Create Dish</button>
    <a href="/account" class="waves-effect waves-light btn">Back to Dashboard</a>
</form>