<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dishes</title>
  <%- include('../partials/header.ejs') %>
</head>

<body>
  <%- include('../partials/navBar') %>

    <h1>All Dishes</h1>

    <% if (userDishes.length > 0) { %>
        <h4>Your Dishes</h4>
        <ul>
            <% userDishes.forEach(function(dish) { %>
            <li>
              <a href="/dishes/<%= dish.id %>">
                <%= dish.name %>
              </a>
            </li>
            <% }) %>
        </ul>
    <% } %>

    <% if (otherDishes.length > 0) { %>
        <h4>Other Dishes</h4>
        <ul>
            <% otherDishes.forEach(function(dish) { %>
            <li>
              <a href="/dishes/<%= dish.id %>">
                <%= dish.name %>
              </a>
            </li>
            <% }) %>
        </ul>
    <% } %>

    <% if (dishes.length > 0) { %>
        <ul>
            <% dishes.forEach(function(dish) { %>
            <li>
              <a href="/dishes/<%= dish.id %>">
                <%= dish.name %>
              </a>
            </li>
            <% }) %>
        </ul>
    <% } %>
     
    <a href="/dishes/new" class="waves-effect waves-light btn">Create Dish</a>
    <% if (user) { %> 
        <a href="/account" class="waves-effect waves-light btn">Back to Dashboard</a>
    <% } else { %>
        <a href="/login" class="waves-effect waves-light btn">Login</a>
        <a href="/register" class="waves-effect waves-light btn">Register</a>
    <% } %>
</body>