E-Mail: <%= user.email %>
<br>
Your Diet: 
<% if (user.diet.length > 0) { %>
  <% user.diet.forEach(diet => { %>
    <span><%= diet %></span>    
  <% }) %>
<% } else { %>
    <span>No diet specified</span>
<% } %>
<br>
Your Connections:
<% if (user.connections.length > 0) { %>
  <% user.connections.forEach(connection => { %>
    <span><%= connection.firstName %></span>
  <% }) %>
<% } else { %>
    <span>No connections yet</span>
<% } %>
<br>
Your Past Events:
<% user.eventsAttending.forEach(event => { %>
    <% if (event.isPast) { %>
        <a href="/events/<%= event.id %>"><%= event.name %></a>
    <% } %>
<% }) %>
<br>
Your Upcoming Events:
<% user.eventsAttending.forEach(event => { %>
    <% if (!event.isPast) { %>
        <a href="/events/<%= event.id %>"><%= event.name %></a>
    <% } %>
<% }) %>
