E-Mail: <%= user.email %>
<br>
Your Diet: 
<% user.diet.forEach(diet => { %>
    <span><%= diet %></span>    
<% }) %>
<br>
Your Connections:
<% user.connections.forEach(connection => { %>
    <span><%= connection.fullName %></span>
<% }) %>
<br>
Your Past Events:
<% user.eventsAttending.forEach(event => { %>
    <% if (event.isPast) { %>
        <a href="/events/<%= event.id %>"><%= event.name %></a>
    <% } %>
<% }) %>
<br>
Your Upcoming Events:
<% user.eventsAttending.forEach(event => { %>
    <% if (!event.isPast) { %>
        <a href="/events/<%= event.id %>"><%= event.name %></a>
    <% } %>
<% }) %>
