<form action="/events" method="POST">
  <div class="row">
    <div class="input-field col s9">
      <input type="text" name="name" value="<%= event.name %>" id="name" required>
      <label for="name">Event Name</label>
    </div>
    <div class="input-field">
      <input type="date" name="date" value="<%= event.date %>" id="date" required>
      <label for="date">Date</label>
    </div>
  </div>
  <div class="input-field">
    <input type="time" name="time" value="<%= event.time %>" id="time" required>
    <label for="time">Time</label>
  </div>
  <div class="input-field">
    <input type="text" name="location" value="<%= event.location %>" id="location" required>
    <label for="location">Location</label>
  </div>
  <div class="input-field">
    <textarea name="description" id="description" class="materialize-textarea"><%= event.description %></textarea>
    <label for="description">Description</label>
  </div>
  <button class="btn waves-effect waves-light" type="submit">Submit</button>
  <a href="/account" class="waves-effect waves-light btn">Cancel</a>
</form>